body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.contenedor-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-menu-primario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}



